*.pyc
scripts/Depth-Anything
out
wandb
Grounded-Segment-Anything
temp
phdlib
.ipynb_checkpoints
*.html
*.mp4
*/saves/*
*/slurm/*
*.pth
slog
Untitled*.ipynb
.vscode
__pycache__
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
ckpts
outputs
demo
scripts/depth_alignment.json
