albumentations
boxmot
clip==0.2.0
cog==0.13.7
cvxpy
einops==0.8.0
fairscale==0.4.13
fvcore==0.1.5.post20221221
gdown==5.2.0
GitPython==3.1.44
gurobipy
h5py
hickle==5.0.3
imagecorruptions==1.1.2
imageio
matplotlib
# mmcv==2.2.0
mmdet==3.3.0
mmengine==0.10.6
mss
# MultiScaleDeformableAttention
nltk==3.9.1
numpy==1.24.4
onnx==1.17.0
open3d==0.19.0
pandas
path.py==12.5.0
Pillow
plotly==5.24.1
psutil==6.1.1
pulp==2.9.0
pycocotools
pycolmap==3.11.1
pyrender==0.1.45
pytorch_lightning
scalabel==0.3.1
scipy
seaborn==0.13.2
segment_anything==1.0
setuptools==75.3.0
scikit-image
supervision==0.25.1
tabulate==0.9.0
torch==2.4.1
torchvision==0.20.0
tqdm==4.67.1
transformers
trimesh==4.6.0
